[ -r "$DOTFILES_DIR/shellrc.config" ] || echo "\
export PROMPT_GIT_INFO=1
export PROMPT_MULTILINE=0
export PROMPT_PREFIX=\"\"
export VIM_FZF="$([ -d $DOTFILES_DIR/.fzf ] && echo 1 || echo 0)"

# vim: ft=zsh\
" > "$DOTFILES_DIR/shellrc.config"

[ -r  "$DOTFILES_DIR/shellrc.config" ] && . "$DOTFILES_DIR/shellrc.config"

# vim: ft=zsh
