local M = {}

M.enable_copilot = false
M.notify_static = false
M.enable_noice = true
M.nvim_tree_filters = {}

M.autosave = false
M.autosave_delay = 2000

M.def_python_line_length = 120
M.autoformat_python = false

return M

-- vim:ft=lua
